<template>
  <td>
    <div>
      <img src="../../src/assets/free-icon-vertica.png" alt=""
           class="freeIcon"
           :title="getMessageByKey('ext-panel')"
           @click="changeEditvalue"
           @mouseover="toggleRowHover(true)">
        <modalList v-if="modalValue"
                 :title="item"
                 @infoEdit="infoEdit"
                 @openClose="openCloseEdit()">
        </modalList>
      <div v-if="listModal" class="modalListElem">
        <img @click="CardEdit" src="../../src/assets/pencil.png" alt="">
        <img class="trash_img" @click="deleteCard" src="../../src/assets/trash.png" alt="">
      </div>
      <div v-if="rowHovered">
      </div>
    </div>
  </td>
</template>

<script>
import modalList from '../../src/components/listElements/modalList';

export default {
  name: 'TableCustomCellActions',
  data() {
    return {
      modalValue: false,
      listModal: false,
    };
  },
  components: { modalList },
  props: {
    item: {
      type: Object,
      default() {
        return {};
      },
    },
    rowHovered: {
      type: Boolean,
      default: false,
    },
    toggleRowHover: {
      type: Function,
      default: () => null,
    },
  },
  methods: {
    changeEditvalue() {
      this.listModal = !this.listModal;
    },
    deleteCard() {
      this.$store.dispatch('SPLICE_ID_FROM_CARDS', (this.item.id));
    },
    CardEdit() {
      this.modalValue = !this.modalValue;
    },
    openCloseEdit() {
      this.modalValue = !this.modalValue;
      this.listModal = false;
    },
    infoEdit(editInfo) {
      this.item.message = editInfo.message;
      this.item.selected = editInfo.selected;
    },
  },
};
</script>
<style lang="scss">
  .freeIcon{
    margin-top: 3px;
    z-index: 2;
    position: absolute;
  }
  img{
    cursor: pointer;
  }
  .modalListElem {
    width: 102px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 3px;
    position: absolute;
    margin-top: -4px;
    left: 70.5%;
    .trash_img {
      margin-right: 30px ;
    }
  }
</style>
