<template>
  <div>
  <modalList
      v-if="edit_value"
      :title="card"
      @infoEdit="infoEdit"
      @openClose="openCloseEdit"
  >
  </modalList>
      <div v-if="card.display" class="ListElem">
        <div class="header">
          <span class="titleCard">Card {{index+1}}</span>
          <div class="vueDrop" v-if="value">
            <div @click="openCloseEdit()">
              <img src="../../assets/Vector.png">
              <span>редактировать</span>
            </div>
            <div @click="deleteCard">
              <img src="../../assets/Vector (2).png">
              <span>удалить</span>
            </div>
          </div>
          <div><img class='iconImg'
                    @click="openCloseModal()" src="../../assets/free-icon-vertica.png"></div>
        </div>
        <div class="mainInfoCard">
          <span class="stringCard">{{card.message}}</span>
          <span class="stringCard">{{card.selected}}</span>
          <span class="stringCard"></span>
          <span class="stringCard"></span>
          <span class="stringCard"></span>
        </div>
      </div>
  </div>
</template>

<script>
import modalList from './modalList';

export default {
  name: 'ListElem',
  components: {
    modalList,
  },
  data() {
    return {
      edit_value: false,
      value: false,
      modalValue: false,
    };
  },
  props: ['card', 'index', 'indexCards'],
  methods: {
    deleteCard() {
      this.$store.dispatch('SPLICE_FROM_CARDS', this.index);
      this.value = false;
    },
    openCloseModal() {
      this.value = !this.value;
    },
    openCloseEdit() {
      this.edit_value = !this.edit_value;
      this.value = false;
    },
    infoEdit(editInfo) {
      this.card.message = editInfo.message;
      this.card.selected = editInfo.selected;
    },
  },
};
</script>

<style scoped lang="scss">
  .ListElem{
    margin-right: 20px;
    margin-top: 20px;
    width: 290px;
    height: 210px;
    background: #F6FAFB;
    .iconImg{
      cursor:pointer;
    }
    .header{
      position: relative;
      width: 290px;
      height: 40px;
      background: rgba(237, 232, 245, 0.5);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      div{
        margin-right: 20px;
      }
      .vueDrop{
        position: relative;
        font-size:15px;
        left:32px;
        top:38px;
        width: 149px;
        height: 55px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(182, 182, 182, 0.25);
        cursor: pointer;
        border-radius: 2px;
        div:hover{
          background: #D9D9D9;
        }
        div{
          margin-top: 5px;
          margin-left: 2px;
          cursor: pointer;
        }
        span{
          margin-left: 5px;
        }
      }
    }
    .titleCard{
      margin-left: 25px;
      width: 53px;
      height: 20px;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
    }
    .mainInfoCard{
      height:170px;
      width:100%;
      display:flex;
      flex-direction: column;
      align-items: center;
      .stringCard{
        padding-top:10px ;
        box-sizing: border-box;
        height: 30px;
        width: 250px;
        border-bottom: 1px solid #F2F2F2;
      }
    }
  }
</style>
