<template>
  <div>
    <modalWindow
      v-if="mainModal"
      :counter="this.counter"
    >
    </modalWindow>
    <header id="header">
      <span class="title">Тестовое задание</span>
    </header>
    <main id="main">
      <section class="mainInfo">
        <article class="mainInfo_left">
          <button class="main_button" @click="[open_closeModal(), counterInc()]">+ ДОБАВИТЬ</button>
          <mainFilter>
          </mainFilter>
        </article>
        <article class="mainInfo_right">
          <div class="mainInfo_first">
            <Sort></Sort>
            <div class="button_bg">
              <button @click='changeCardZone()' class="button_bg1">
                <img src="../assets/icon.png" alt="">
              </button>
              <button @click='changeCardZoneSecond()' class="button_bg2">
                <img src="../assets/icon2.png" alt="">
              </button>
            </div>
          </div>
          <div class="mainInfo_second">
            <div v-if="cardsZone === 'card'" class="ListElements">
              <ListElem
                v-for="(item,index) in cards"
                :card="item"
                :index="index"
                :key="index"
              >
              </ListElem>
            </div>
            <div v-if="cardsZone === 'list'">
              <a-table
                @onChangeSort="onChangeSort"
                :headers="headers"
                :items="cards"
                :sortParams="sortParams"
                :sortParamsDefault="sortParamsDefault"
                :useExtRowComponent="getExtRowComponent"
                :getRowClassesByItem="getRowClassesByItem"
              ></a-table>
            </div>
          </div>
        </article>
      </section>
    </main>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Sort from './sort/sort';
import ListElem from './listElements/ListElem';
import modalWindow from './modal/modalWindow';
import mainFilter from './filter/mainFilter';
import ATable from './ATable';
import TableCustomCell from '../../stubs/components/TableCustomCell';
import TableExtRowComponent from '../../stubs/components/TableExtRowComponent';
import TableCustomCellActions from '../../stubs/components/TableCustomCellActions';

export default {
  name: 'homework',
  components: {
    Sort, ListElem, modalWindow, mainFilter, ATable,
  },
  data() {
    return {
      counter: 0,
      value: false,
      cardsZone: 'card',
      headers: [
        {
          key: 'pos',
          title: 'ID',
          headerAlign: 'center',
          dataAlign: 'center',
          classes: 'order-col width-4',
        },
        {
          key: 'message',
          name: 'number',
          sortControl: true,
          title: 'Номер накладной',
          headerAlign: 'center',
          dataAlign: 'center',
        },
        {
          key: 'selected',
          title: 'Тип заказа',
          headerAlign: 'center',
          dataAlign: 'center',
          useComponent: TableCustomCell,
        },
        {
          key: 'actions',
          title: 'Actions',
          headerAlign: 'center',
          dataAlign: 'center',
          useComponent: TableCustomCellActions,
        },
      ],
      sortParamsDefault: {
        sidx: 'number',
        sord: 'desc',
      },
      sortParams: {
        sidx: 'number',
        sord: '',
      },
    };
  },
  computed: {
    getExtRowComponent() {
      return TableExtRowComponent;
    },
    ...mapState([
      'cards', 'mainModal',
    ]),
  },
  methods: {
    onChangeSort(data) {
      this.sortParams.sord = data.data.sord;
      this.$store.dispatch('SORT_CARDS', data.data.sord);
    },
    counterInc() {
      this.counter = this.counter + 1;
    },
    getRowClassesByItem(item) {
      return `custom-class-${item.id}`;
    },
    open_closeModal() {
      this.$store.dispatch('CHANGE_MAIN_MODAL');
    },
    changeCardZone() {
      this.cardsZone = 'card';
    },
    changeCardZoneSecond() {
      this.cardsZone = 'list';
    },
  },
};
</script>

<style scoped  >
  @import "../styles/Style.scss";
</style>
