<template>
  <div id="app">
    <homework/>
  </div>
</template>

<script>
import homework from './components/homework';

export default {
  name: 'App',
  components: {
    homework,
  },
};
</script>


<style lang="scss">
  @import "./scss/table";
</style>
