<template>
    <div class="sort">
      <select v-model="selected" @change = "sortCards" name="" id="">
        <option value="" disabled>Sorting</option>
        <option value="asc">Sort by Invoice number: ascending</option>
        <option value="desc">Sort by Invoice number: descending</option>
      </select>
    </div>
</template>

<script>
export default {
  name: 'sort',
  data() {
    return {
      selected: '',
    };
  },
  methods: {
    sortCards() {
      this.$store.dispatch('SORT_CARDS', this.selected);
    },
  },
};
</script>

<style scoped>
  select{
    margin-top: 20px;
    margin-left: 20px;
    width: 222.53px;
    height: 30px;
    border: 1px solid #E0E5E6;
    box-sizing: border-box;
  }

</style>
